openapi: 3.0.4
info:
  title: Pictionary Generator
  description: >-
    Pictionary Generator creates random drawing prompts filtered by difficulty
    level for the classic Pictionary sketching game.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/pictionary:
    get:
      summary: Generate Drawing Prompts
      description: Generate pictionary words by difficulty level
      operationId: pictionary
      parameters:
        - name: difficulty
          in: query
          schema:
            type: string
          required: false
          description: Difficulty level
          example: medium
        - name: count
          in: query
          schema:
            type: integer
          required: false
          description: Number of words to generate
          example: 5
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  words:
                    - Including
                    - Widely
                    - Nation
                    - Buffalo
                    - Twelve
                  count: 5
                  difficulty: medium
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
